@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/*****************
Header styles.
*****************/
header {
  width: 100%;
  position: relative;
}
header .navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
}
header .navbar .navbar-brand {
  color: #2b2350;
}
header .collapse ul.navbar-nav li {
  padding: 0 25px;
  color: #ffffff;
}
header .collapse ul.navbar-nav li a {
  color: #ffffff;
  font-size: 16px;
}

.home_top_sections {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-60deg, #7052fb, #8a60fd);
  position: relative;
}
.home_top_sections .top_sections_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../images/top_background.png");
  background-size: cover;
  background-position: center center;
}
.home_top_sections .home_text {
  padding: 220px 0 0 0;
}
.home_top_sections .home_text span {
  color: #7052fb;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.home_top_sections .home_text h1 {
  font-size: 50px;
  color: #2b2350;
  margin: 30px 0 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.home_top_sections .home_text h1 span {
  font-size: 55px;
  color: #2b2350;
  font-weight: bolder;
  text-transform: none;
}
.home_top_sections .home_text p {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000000;
}
.home_top_sections .home_text a {
  background: #7052fb;
  border: 1.5px solid #7052fb;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
  display: inline-block;
  margin: 15px 0 0 0;
}
.home_top_sections .home_text a:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: #ffffff;
  color: #7052fb;
}
.home_top_sections .home_text a:focus {
  box-shadow: none;
  outline: none;
  border: 1.5px solid #7052fb;
}
.home_top_sections .home_images_sections {
  padding: 120px 0 0 0;
  text-align: center;
}
.home_top_sections .home_images_sections img {
  width: 100%;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
