@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
$RobotoFonts: "Roboto",
sans-serif;
$PoppinsFonts: "Poppins",
sans-serif;
$whiteColor: #ffffff;
$BlackColor: #000000;
$fontColor: #2b2350;
$ThemesColor: #7052fb;
$smallShadow: 0 0.125rem 0.25rem rgba(0,
0,
0,
0.075);
$regularShadow: 0 0.5rem 1rem rgba(0,
0,
0,
0.15);
$largerShadow: 0 1rem 3rem rgba(0,
0,
0,
0.175);
$transitionEffects: all 0.5s ease;
@mixin borderButtons {
    background: none;
    border: 1.5px solid $ThemesColor;
    border-radius: 5px;
    color: $ThemesColor;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    position: relative;
    text-transform: uppercase;
    transition: $transitionEffects;
    text-decoration: none;
    &:hover {
        transition: $transitionEffects;
        text-decoration: none;
        background: $ThemesColor;
        color: $whiteColor;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1.5px solid $ThemesColor;
    }
}

@mixin backgroundButtons {
    background: $ThemesColor;
    border: 1.5px solid $ThemesColor;
    border-radius: 5px;
    color: $whiteColor;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    position: relative;
    text-transform: uppercase;
    transition: $transitionEffects;
    text-decoration: none;
    &:hover {
        transition: $transitionEffects;
        text-decoration: none;
        background: $whiteColor;
        color: $ThemesColor
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1.5px solid $ThemesColor;
    }
}

html,
body {
    height: 100%;
}

body {
    font-family: $RobotoFonts;
}


/*****************
Header styles.
*****************/

header {
    width: 100%;
    position: relative;
    .navbar {
        position: absolute;
        z-index: 1;
        width: 100%;
        .navbar-brand {
            color: $fontColor;
        }
    }
    .collapse {
        ul.navbar-nav {
            li {
                padding: 0 25px;
                color: $whiteColor;
                a {
                    color: $whiteColor;
                    font-size: 16px;
                }
            }
        }
    }
}

.home_top_sections {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-60deg, #7052fb, #8a60fd);
    position: relative;
    .top_sections_overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url("../images/top_background.png");
        background-size: cover;
        background-position: center center;
    }
    .home_text {
        padding: 220px 0 0 0;
        span {
            color: $ThemesColor;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bold;
        }
        h1 {
            font-size: 50px;
            color: $fontColor;
            margin: 30px 0 30px 0;
            font-family: $PoppinsFonts;
            font-weight: bold;
            span {
                font-size: 55px;
                color: $fontColor;
                font-weight: bolder;
                text-transform: none;
            }
        }
        p {
            font-size: 18px;
            margin: 0 0 20px 0;
            color: $BlackColor;
        }
        a {
            // @include borderButtons();
            @include backgroundButtons();
            display: inline-block;
            margin: 15px 0 0 0;
        }
    }
    .home_images_sections {
        padding: 120px 0 0 0;
        text-align: center;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}